__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.venv/
dist/
build/
*.egg-info/

data/raw/*
data/interim/*
data/processed/*
outputs/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/raw/astrodeep_jwst.fits
!data/raw/astrodeep_jwst_sample_250.fits
!data/processed/astrodeep_jwst.parquet
!data/processed/astrodeep_jwst_sample_250.parquet
!outputs/figures/
!outputs/manifests/
!outputs/reports/
!outputs/figures/.gitkeep
!outputs/manifests/.gitkeep
!outputs/reports/.gitkeep
!outputs/figures/astrodeep_jwst_zphot_distribution.png
!outputs/figures/astrodeep_jwst_zphot_sample_vs_full.png
!outputs/manifests/astrodeep_jwst.manifest.json
!outputs/manifests/astrodeep_jwst_01.manifest.json
!outputs/manifests/astrodeep_jwst_02.manifest.json
!outputs/manifests/astrodeep_jwst_sample_250.manifest.json
!outputs/manifests/astrodeep_jwst_sample_250_01.manifest.json
!outputs/manifests/astrodeep_jwst_sample_250_02.manifest.json
!outputs/reports/astrodeep_jwst_sample_vs_full_report.md
